
  /* @font-face {
  @font-face {
    font-family: "Goldplay-Regular";
    src: url('./Goldplay-SemiBoldIt.woff');
}
 @font-face {
    font-family: "Goldplay-Semibold";
    src: url('./Goldplay-SemiBoldIt.woff');
} 
}    */


